/* TODOs: */
/* - check tablets/phones */

body {
  font-family:Helvetica,sans-serif;
}

p {
  margin:.2em;
}

p.small {
  font-size: small;
}

div.h1 {
  font-size:1.8em;
  font-weight: bold;
  text-align:center;
  background-color:#F8F8B8;
  border: 2px solid gray;
  border-radius: 10px;
  padding:.2em;
  margin: 0;
  box-shadow: 3px 3px 6px #222;
}

h2 {
  font-size:1.5em;
  clear: both;
  margin: 0;
  padding: 0.5em;
  text-align:center;
}

h3 {
  font-size:1.1em;
  clear: both;
  border-top: 1px dotted gray;
  margin: 0;
  padding: 0.2em;
}

h4 {
  text-align:center;
  font-size:small;
  clear: both;
  margin: 0;
  padding: 0.2em;
  white-space: nowrap;
}

a.nav {
  background-color:#F8F8B8;
  border:1px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #222;
  margin: 0.2em;
  padding: 0.1em;
  color: purple;
  text-decoration: none;
}

ul {
  margin: 0.2em;
  line-height: 140%;
}

.no-border {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.top-border {
  border-top: 1px solid gray;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.solid-border,  .red-cell,  .orange-cell,   .yellow-cell,
.green-cell,  .blue-cell,  .purple-cell {
  border: 1px solid gray;
  border-top: 1px solid gray;
  text-align: right;
}

.sharepricerow {
  width: 20px;
}

.num {
  text-align: right;
}

.centered-num {
  text-align: center;
}

.red, .orange, .yellow, .green, .blue, .purple,
.red-hover, .orange-hover, .yellow-hover, .green-hover,
.blue-hover, .purple-hover, .card {
  display: inline;
  padding: 1px;
  border: 1px solid black;
  white-space: nowrap;
}

.red-hover, .orange-hover, .yellow-hover, .green-hover,
.blue-hover, .purple-hover {
  position: relative;
  cursor: help;
}

.red-hover:hover, .orange-hover:hover, .yellow-hover:hover,
.green-hover:hover, .blue-hover:hover, .purple-hover:hover {
  box-shadow: 0px 0px 12px 4px #9E9E9E;
  transition: 200ms 200ms box-shadow;
}

.card {
  background-color: #DEDEDE
}

.red, .red-hover, .red-cell {
  background-color: #FF6067;
}

.orange, .orange-hover, .orange-cell {
  background-color: #FFBB66;
}

.yellow, .yellow-hover, .yellow-cell {
  background-color: #FFFF55;
}

.green, .green-hover, .green-cell {
  background-color: #00FF22;
}

.blue, .blue-hover, .blue-cell {
  background-color: #7799FF;
}

.purple, .purple-hover, .purple-cell {
  background-color: #C505FF;
}

.loss {
  color: red;
}

.synergies {
  font-size: x-small;
  line-height: 200%;
  list-style-type: none;
}

div.left {
  float: left;
  margin-bottom: 1em
}

div.right {
  float: right;
  margin-bottom: 1em
}

div.clear-both {
  clear: both
}

div.tooltip, div.tooltip-corp {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms 200ms, visibility 0s 400ms;
  position: absolute;
  top: 1.3em;
  left: -80px;
  background-color: #DEDEDE;
  border-radius: 5px;
  border: 1px solid gray;
  padding:4px;
  margin: 0;
  box-shadow: 6px 6px 12px #222;
  white-space: normal;
  z-index: 100;
  font-size: small;
  font-weight: normal;
  text-align: left;
}

div.tooltip-corp {
  width: 240px;
  top: 60px;
}

.tooltip-parent {
  display: inline;
  position: relative;
  cursor: help;
}

.tooltip-parent:hover > div.tooltip,
div:hover > div.tooltip,
th.corp:hover > div.tooltip-corp {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms 200ms, visibility 0s 200ms;
}

table {
  border:1px solid gray;
  border-radius: 3px;
  border-spacing:0.1em;
  border-collapse:collapse;
  box-shadow: 3px 3px 6px #222;
  margin: 0.5em;
  empty-cells: hide;
}


td {
  padding: 0.25em;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  line-height: 150%;
}

th {
  padding: 0.25em;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  vertical-align: bottom;
}

th.corp {
  position: relative;
  cursor: help;
  transition: 200ms 200ms background;
}

th.corp:hover {
  background: #DEDEDE;
}

table.tooltip-corp {
  background: #FFF;
  width: 100%;
  box-shadow: none;
  text-align: center;
  margin: 0px;
  font-size: x-small;
  margin-bottom: 2px;
}

table.tooltip-corp th {
  padding: 1px;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 1pt;
}

table.tooltip-corp td {
  line-height: 1.8;
}

dl {
  text-align: left;
  font-size: small;
  font-weight: normal;
}

dt {
  font-weight: bold;
  white-space: nowrap;
}

dd {
  line-height: 1.8;
  margin-left: 15px;
}

dt:after {
  content: ": ";
}
